/*
 * Copyright (c) 2020 The ZMK Contributors
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>

/* Định nghĩa tên các Layer */
#define BASE 0
#define SYMB 1
#define NUM  2
#define FUN  3
#define NAV  4
#define NWIN 5
#define NAVL 6
#define MDIA 7

/* Macro giả lập Alt-Tab (Swapper trong QMK) */
/ {
    macros {
        alt_tab: alt_tab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp TAB>
                , <&macro_release &kp LALT>;
        };
    };

    behaviors {
        /* Sticky Key (One Shot) với thời gian chờ ngắn */
        skq: sticky_key_quick {
            compatible = "zmk,behavior-sticky-key";
            #binding-cells = <1>;
            bindings = <&kp>;
            release-after-ms = <1000>;
            quick-release;
            ignore-modifiers;
        };
        
        /* Layer Tap cho phím O/Media: Giữ > 200ms là vào lớp Media, nhấn nhanh là O */
        lt_media: layer_tap_media {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            bindings = <&mo>, <&kp>;
        };
    };

    /* COMBOS */
    combos {
        compatible = "zmk,combos";
        
        /* N + E + I -> Ctrl */
        combo_nei_ctrl {
            timeout-ms = <50>;
            key-positions = <19 20 21>;
            bindings = <&skq LCTRL>;
        };
        
        /* , + . -> ; */
        combo_commadot {
            timeout-ms = <50>;
            key-positions = <32 33>;
            bindings = <&kp SEMI>;
        };

        /* H + , -> - */
        combo_hcomma {
            timeout-ms = <50>;
            key-positions = <31 32>;
            bindings = <&kp MINUS>;
        };

        /* X + D -> Ctrl */
        combo_xd_ctrl {
            timeout-ms = <50>;
            key-positions = <26 28>;
            bindings = <&skq LCTRL>;
        };
        
        /* Z + D -> Tab */
        combo_zd_tab {
            timeout-ms = <50>;
            key-positions = <25 28>;
            bindings = <&kp TAB>;
        };
/* TAP DANCE: Nhấn 1 lần ra dấu CHẤM, nhấn 2 lần ra dấu HAI CHẤM */
        td_dot: tap_dance_dot {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;    /* Thời gian chờ gõ lần 2 (200ms) */
            bindings = <&kp DOT>, <&kp COLON>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        /* LAYER 0: BASE (Colemak-DH) */
        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  F  |  P  |  B  |   |  J  |  L  |  U  |  Y  |  '  | BKSP |
            // | CTRL |  A  |  R  |  S  |  T  |  G  |   |  M  |  N  |  E  |  I  |  O  |  '  |
            // | SHFT |  Z  |  X  |  C  |  D  |  V  |   |  K  |  H  |  ,  |  .  |  /  | ESC  |
            //                    | FUN | NAV | NUM |   | SFT | NAV | SYM |
            bindings = <
&kp TAB    &kp Q      &kp W      &kp E      &kp R          &kp T           &kp Y       &kp U          &kp I      &kp O      &kp P    &kp BSPC
&kp LCTRL  &kp A      &kp S      &kp D      &kp F          &kp G           &kp H       &kp J          &kp K      &kp L      &lt_media MDIA SQT   &kp RET
&kp LSHFT  &kp Z      &kp X      &kp C      &kp V          &kp B           &kp N       &kp M          &kp COMMA  &td_dot    &kp FSLH   &kp ESC
                                 &mo FUN    &lt NAV SPACE  &mo NUM         &skq LSHFT  &mo NAV        &mo SYMB
            >;
        };

        /* LAYER 1: SYMBOLS */
        sym_layer {
            // -----------------------------------------------------------------------------------------
            // | TRANS|  -  |  _  |  =  |  +  |  \  |   | C_Z | S_7 | S_8 |  .  | C_V | TRANS|
            // | TRANS|  '  |  "  |  (  |  )  |  `  |   |  :  | SFT | CTL | ALT | GUI | TRANS|
            // | TRANS|  ;  |  :  |  [  |  ]  |  ~  |   |  -  |  !  |  <  |  >  |  ?  | TRANS|
            //                    | TRANS|TRANS| RET |   | TRANS|TRANS|TRANS|
            bindings = <
&trans     &kp MINUS  &kp UNDER  &kp EQUAL  &kp PLUS       &kp BSLH        &kp LC(Z)   &kp LS(N7)     &kp LS(N8) &kp DOT    &kp LC(V)  &trans
&trans     &kp SQT    &kp DQT    &kp LPAR   &kp RPAR       &kp GRAVE       &kp COLON   &skq LSHFT     &skq LCTRL &skq LALT  &skq LGUI  &trans
&trans     &kp SEMI   &kp COLON  &kp LBKT   &kp RBKT       &kp TILDE       &kp MINUS   &kp EXCL       &kp LT     &kp GT     &kp QMARK  &trans
                                 &trans     &trans         &kp RET         &trans      &trans         &trans
            >;
        };

        /* LAYER 2: NUM (Numpad bên phải) */
        num_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB | LFT |  .  | RGT |  _  | TRANS|   |TRANS|  7  |  8  |  9  |  +  | TRANS|
            // | GUI  | ALT | CTRL| SHFT| NAV | TRANS|   |  :  |  4  |  5  |  6  |  -  | TRANS|
            // | C_Z  | TRANS|  ,  |  :  | C_Y | TRANS|   |  -  |  1  |  2  |  3  |TRANS| TRANS|
            //                    | TRANS|TRANS|TRANS|   | RET | BKSP|  0  |
            bindings = <
&kp TAB    &kp LEFT   &kp DOT    &kp RIGHT  &kp UNDER      &trans          &trans      &kp N7         &kp N8     &kp N9     &kp PLUS   &trans
&sk LGUI   &sk LALT   &sk LCTRL  &sk LSHFT  &mo NAV        &trans          &kp COLON   &kp N4         &kp N5     &kp N6     &kp MINUS  &trans
&kp LC(Z)  &trans     &kp COMMA  &kp COLON  &kp LC(Y)      &trans          &kp MINUS   &kp N1         &kp N2     &kp N3     &trans     &trans
                                 &trans     &trans         &trans          &kp RET     &kp BSPC       &kp N0
            >;
        };

        /* LAYER 3: FUN (F-Keys) */
        fun_layer {
            // -----------------------------------------------------------------------------------------
            // | TRANS|  1  |  2  |  3  |  4  |  5  |   |T_NVL|  F7 |  F8 |  F9 | F12 | TRANS|
            // | TRANS| GUI | ALT | CTRL| SHFT|TRANS|   |TRANS|  F4 |  F5 |  F6 | F11 | TRANS|
            // | TRANS|  6  |  7  |  8  |  9  |  0  |   |TRANS|  F1 |  F2 |  F3 | F10 | TRANS|
            //                    | TRANS|TRANS|TRANS|   |TRANS| CAPS|TRANS|
            bindings = <
&trans     &kp N1     &kp N2     &kp N3     &kp N4         &kp N5          &to NAVL    &kp F7         &kp F8     &kp F9     &kp F12    &trans
&trans     &sk LGUI   &sk LALT   &sk LCTRL  &sk LSHFT      &trans          &trans      &kp F4         &kp F5     &kp F6     &kp F11    &trans
&trans     &kp N6     &kp N7     &kp N8     &kp N9         &kp N0          &trans      &kp F1         &kp F2     &kp F3     &kp F10    &trans
                                 &trans     &trans         &trans          &trans      &kp CAPS       &trans
            >;
        };

        /* LAYER 4: NAV (Điều hướng & Thao tác) */
        nav_layer {
            // -----------------------------------------------------------------------------------------
            // | A_TAB| S_TB| C_W | C_TB| A_TAB|TRANS|   | PGUP| HOME|  UP | END |C_BSP| TRANS|
            // | GUI  | ALT | CTRL| SHFT| NWIN|TRANS|   | PGDN| LFT | DWN | RGT | SPC | TRANS|
            // | C_Z  | C_X | C_C | C_V | C_Y |TRANS|   | ESC | BKSP| RET | TAB | DEL | TRANS|
            //                    | TRANS|TRANS|TRANS|   | RET | BKSP|TRANS|
            bindings = <
&alt_tab   &kp LS(TAB) &kp LC(W)  &kp LC(TAB) &alt_tab      &trans          &kp PG_UP   &kp HOME       &kp UP     &kp END    &kp LC(BSPC) &trans
&sk LGUI   &sk LALT    &sk LCTRL  &sk LSHFT   &mo NWIN      &trans          &kp PG_DN   &kp LEFT       &kp DOWN   &kp RIGHT  &kp SPACE    &trans
&kp LC(Z)  &kp LC(X)   &kp LC(C)  &kp LC(V)   &kp LC(Y)     &trans          &kp ESC     &kp BSPC       &kp RET    &kp TAB    &kp DEL      &trans
                                  &trans      &trans        &trans          &kp RET     &kp BSPC       &trans
            >;
        };

        /* LAYER 5: NAV WIN (Alt + Phím) */
        navwin_layer {
            // -----------------------------------------------------------------------------------------
            // | TRANS| A_Q | A_W | A_F | A_P | A_B |   | A_J | A_7 | A_8 | A_9 | A_' | TRANS|
            // | TRANS| GUI | ALT | CTRL| SHFT|TRANS|   | A_M | A_4 | A_5 | A_6 | A_O | TRANS|
            // | TRANS| A_Z | A_X | A_C | A_D | A_V |   | A_K | A_1 | A_2 | A_3 | A_/ | TRANS|
            //                    | TRANS|TRANS|TRANS|   |TRANS|TRANS|TRANS|
            bindings = <
&trans     &kp LA(Q)  &kp LA(W)  &kp LA(F)  &kp LA(P)      &kp LA(B)       &kp LA(J)   &kp LA(N7)     &kp LA(N8) &kp LA(N9) &kp LA(SQT)  &trans
&trans     &sk LGUI   &sk LALT   &sk LCTRL  &sk LSHFT      &trans          &kp LA(M)   &kp LA(N4)     &kp LA(N5) &kp LA(N6) &kp LA(O)    &trans
&trans     &kp LA(Z)  &kp LA(X)  &kp LA(C)  &kp LA(D)      &kp LA(V)       &kp LA(K)   &kp LA(N1)     &kp LA(N2) &kp LA(N3) &kp LA(FSLH) &trans
                                 &trans     &trans         &trans          &trans      &trans         &trans
            >;
        };

        /* LAYER 6: NAV LEFT (Mũi tên tay trái) */
        navl_layer {
            // -----------------------------------------------------------------------------------------
            // | TO_0 | HOME|  UP | END | PGUP|TRANS|   |TRANS|TRANS|TRANS|TRANS|TRANS| TO_0 |
            // | SPC  | LFT | DWN | RGT | PGDN|TRANS|   |TRANS| SHFT| CTRL| ALT | GUI | TRANS|
            // | DEL  | TAB | RET | BKSP| ESC |TRANS|   |TRANS|TRANS|TRANS|TRANS|TRANS| TRANS|
            //                    | TO_0 | TO_0|TRANS|   | RET | BKSP|TRANS|
            bindings = <
&to BASE   &kp HOME   &kp UP     &kp END    &kp PG_UP      &trans          &trans      &trans         &trans     &trans     &trans     &to BASE
&kp SPACE  &kp LEFT   &kp DOWN   &kp RIGHT  &kp PG_DN      &trans          &trans      &sk LSHFT      &sk LCTRL  &sk LALT   &sk LGUI   &trans
&kp DEL    &kp TAB    &kp RET    &kp BSPC   &kp ESC        &trans          &trans      &trans         &trans     &trans     &trans     &trans
                                 &to BASE   &to BASE       &trans          &kp RET     &kp BSPC       &trans
            >;
        };

        /* LAYER 7: MEDIA & MOUSE */
        media_layer {
            // -----------------------------------------------------------------------------------------
            // | RESET|TRANS|TRANS|TRANS|TRANS|TRANS|   | SC_U| PREV| MV_U| NEXT| PSCR| TRANS|
            // | GUI  | ALT | CTRL| SHFT|TRANS|TRANS|   | SC_D| MV_L| MV_D| MV_R|TRANS| TRANS|
            // | TRANS|TRANS|TRANS|TRANS|TRANS|TRANS|   | MUTE| V_DN| PP  | V_UP|TRANS| TRANS|
            //                    | TRANS|TRANS|TRANS|   | MB3 | MB1 | MB2 |
            bindings = <
&sys_reset &trans     &trans     &trans     &trans         &trans          &msc SCRL_UP   &kp C_PREV  &mmv MOVE_UP    &kp C_NEXT &kp PSCRN &trans
&sk LGUI   &sk LALT   &sk LCTRL  &sk LSHFT  &trans         &trans          &msc SCRL_DOWN &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &trans &trans
&trans     &trans     &trans     &trans     &trans         &trans          &kp C_MUTE     &kp C_VOL_DN   &kp C_PP       &kp C_VOL_UP    &trans &trans
                                 &trans     &trans         &trans          &mkp MB3       &mkp MB1       &mkp MB2
            >;
        };
    };
};
